body {
    background-image: url("https://i.pinimg.com/originals/9b/ee/9c/9bee9ccfece6c7750dca6fc3708b5252.gif");
    /* background-image: url("https://i.pinimg.com/originals/dd/2d/dc/dd2ddc5a9717d9b4aabd7540778b60a1.png"); */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-image: url("https://cutewallpaper.org/21/pixel-wallpaper-gif/46-Animated-Pixel-Wallpaper-on-WallpaperSafari.gif");
    color: palevioletred;
    font-family: 'VT323', monospace;
    font-size: 20px;
    text-align: center;
    border: solid 5px;
    border-radius: 5px;
    padding: 5px;
    width: 600px;
    height: 550px;
    margin: 140px;

}

/* Source for glowy-text https://www.w3schools.com/howto/howto_css_glowing_text.asp */
.title {
    margin: 15px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;

}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px blue, 0 0 30px , 0 0 40px blue, 0 0 50px blue, 0 0 60px blue, 0 0 70px blue;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue, 0 0 60px blue, 0 0 70px blue, 0 0 80px blue;
    }
  }


.healthmeter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    
}

.pixelegg {
    margin: 25px;
}

#name {
    margin: 10px;
}

.stitch-main {
    padding: auto;
    max-height: 25vh;
}

.main-selection {
    padding-top: 10px;
}

.lunch-selection {
    margin-top: 10px;
}

.hidden {
    display: none;
}

.lilo-main {
    margin-top: 20px;
}

#stitch-bikini {
    max-height: 25vh;
    /* margin: 20px; */
}

.feed-selection {
    margin: 30px;
}

#naniMessage {
    font-size: 20px;
}

.stitch-eating {
    max-height: 25vh;
}

.stitch-sleeping {
    max-height: 50vh;
}

.home {
    margin: 25px;
}

.rick {
    margin: 50px;
}
